doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css') 
    meta(name="viewport" content="width= device-width, initial-scale=1")
  body(id="frontPage")
    block content
      div(class="mainContainer" id="mainContainer" class="front")
        div(id="banner" class="section")
          h2 Zakariye Yusuf
          img(src="/images/sahara.png")
          p 
        div(id="summary" class="section")
            div(id="summaryBody")
                p(id="hello") Hello, 
                p Your bussiness needs to come online with a new modren website and you need a modren javaScript web developer with a ample knowledge and experties for that. 
                p That is where I come in. Get in touch below, and let's have a cup of coffee.
        div(id="media" class="section")
            h2 Say Hi
            <a id="gitHub" href="https://github.com/ZYusuf10">gitHub</a>
            <a id="instagram" href="https://www.instagram.com/zakariye_yusuf_/">instagram</a>
            <a id="linkedIn" href="https://www.linkedin.com/in/zakaria-yusuf-a6ba1976">linked in</a>
            <a id="twitter" href="https://twitter.com/ZakariyeYusuf7">twitter </a>
        div(id="moreAboutMe" class="section")
            h2 More about Me
            <a id="about" href="about"> Summary</a>
            <a href="projects"> projects</a>
            <a id="resume" href="resume"> resume</a>
            <a id="journal" href="journal"> journal </a> 
            <a href="contact"> contactMe. </a>
    //script(type='text/javascript' src='/javascripts/next.js')
    //div(id="length" class="inisible") !{length}

  
