extends layout

block content
  ul
    li(class="frontLi" id="leftLi")
      a(href="/javascript") javaScript Journal
    li(class="frontLi" id="rightLi")
      a(href="/bookreflections") Book Reflections 
 