doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css') 
    meta(name="viewport" content="width= device-width, initial-scale=1")
  body(id="newBitGet")
    block content
      li
        a(href='newTecknical') Add New Technical Record
      li
        a(href='newBookReflection') Add new Book Reflection
    script(type='text/javascript' src='/javascripts/next.js')