doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css') 
    meta(name="viewport" content="width= device-width, initial-scale=1")
  body(id="construction")
    block content
      div(id="construction" class="mainContainer")
        div(class="section")
          h2 Work Under Construction
          <p class="projectP">I'm working on this page, please comeback later :) </p>
    script(type='text/javascript' src='/javascripts/next.js')
      
      

  
