doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css') 
    meta(name="viewport" content="width= device-width, initial-scale=1")
  body(id="projects")
    block content
      h2 Projects 
      div(id="mainContainerProjects" class="mainContainer")
        div(class="section")
          h2 bermidbaraaktiissomali
          <p class="projectP">This is practice website for the permit licence in Ohio(Somali). </p>
          div(id="imgShow")
            img(src="/images/mobile.jpg")
          p read more <a href="https://github.com/ZYusuf10/bermidbaraaktiissomali/blob/master/README.md" class="projectLink">here</a>
    script(type='text/javascript' src='/javascripts/next.js')
      
      

  
